@font-face {
    font-family: "RD";
    src: url(fonts/rd.ttf) format("truetype");
}

* {
	font-family: "RD";
}

img {
    width: 256px;
}

body {
    background-image: linear-gradient(white, lightsteelblue);
    margin: 16px;
}